# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# App specific
uploads/
backend/uploads/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
